@{
    //Layout = "_Layout"; // Используемый шаблон можно указать так
    //Layout = "~/Views/Shared/_Layout.cshtml"; // Или с полным путем так
    // Или в _ViewStart файле 

    // dynamic переменную ViewBag можно импользовать отсюда, но лучше из контроллера
    ViewBag.Title = "Это моя домашняя страница";
}

<h2>
    Hello
</h2>

<h4>
    Smaller hello)
</h4>

<a href="/Home/List">Список языков, которые я знаю</a>
<br />
<a href="/About">О компании</a>