<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background:#ee0; font-size:200%; padding:30px">
        Lого <s>получше</s> похуже
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>