@{
    int age = 12;

    int gender = 1;
    // Cоздать class/enum здесь нельзя
    // Так что представим, что 0 - Male, 1 - Female
}

<p>Ваш возраст: @age</p>

@*Этот код отрабатывает в момент возврата представления контроллером, 
поэтому логику здесь стоит описывать отталкиваясь от модели, а не внутреннюю*@
@if (age < 14)
{
    <p>Классно быть мололдым, но сайт только для лиц старше 14</p>
}
else if (age < 18)
{
    <p>Можно пользоваться, но с ограницениями</p>
}
else
{
    <p>Все легально)</p>
}

@switch (gender)
{
    case 0:
        <p>Ваш пол: Мужской</p>
        break;
    case 1:
        <p>Ваш пол: Женский</p>
        break;
    default:
        <p>Есть только 2 гендера))</p>
        break;
}
