@{
    // Место для C# кода
    int x = 10;

    @: Так можно вставлять HTML в C# код
    @: <em>Code: @x</em>

    x *= 3;
}

<!--HTML коментарии остаются на странице-->

@*Razor коментарии исключаются при компиляции*@

<h3>Меню</h3>
<header>
    <a href="/Home/Person">Вывод данных</a>
    <a href="/Home/ConditionalOperators">Условные операторы</a>
    <a href="/Home/Loops">Циклы</a>
    <a href="/Home/Etc">Исключения и using</a>
</header>

<html>
    <body>
        <h2>Hello</h2>
        <p>This is home view</p>
        <em>Code: @x</em>
    </body>
</html>
