@model Views.ViewModels.Person // Указываем для приведения переденного объекта представления к конктерному типу

@{
    Layout = null;

    // Здесь должна быть только логика для отображения
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Person</title>
</head>
<body>
    <h3>Me:</h3>
    @*Потом можем обращатся к свойствам модели*@
    <p>First name: @Model.FirstName</p>
    <p>Last name: @Model.LastName</p>
    @*Строка после символа @ считается C# кодом, 
    если содержит пробелы или выражение - нужно заключать в скобки ()*@
    <p>Age: @(Model.Age * 2)</p>
</body>
</html>
