@model IEnumerable<AdoNet.Model.DataModels.City>

<h3>Это домашняя страница, и она работает)</h3>

<h5>Список городов</h5>
<ul>
    @foreach (var city in Model)
    {
        <li>
            <span>@city.CityName</span>
            <span><a href="/Home/Edit/@city.CityId">Редактировать</a></span>
            <span><form method="post" action="/Home/Delete/@city.CityId"><button>Удалить</button></form></span>
        </li>
    }
</ul>
<form method="post" action="/Home/Add">
    <label>Город</label>
    <input type="text" name="cityName"/>
    <button>Добавить</button>
</form>